@charset "UTF-8";

.header_all {
  width:100%;
  background-color:rgb(0, 158, 0);
}

.A {
  font-family:Arial, Helvetica, sans-serif ;
}

.inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.header_nav ul {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.header_nav ul li {
  display: table-cell;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header_nav ul li  a {
  display: block;
  margin: 25px;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color:white;
}

.header_nav ul li a  span {
  display: block;
  margin-top: 5px;
  font-size: 10px;
  color:white;
}

.header_nav ul li a:hover {
  color:greenyellow ;
}

a {
  text-decoration: none;
}


.top_all {
  position: relative;
  width:100%;
  height: 500px;
  overflow:hidden;
  background: url("../img/748b26d5e10e003b8cb4d99a370668c8.jpg") no-repeat center;
  background-size: cover;
}

.top_inner {
  position: absolute;
  text-align: center;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .top_all::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  
}

.top_inner h1 {
  font-size: 60px;
  font-weight: 500;
  color:white;
}

.top_inner p {
  font-size: 20px;
  font-weight: 700;
  color:white;
}

.header_nav ul li a span {
  display: block;
  margin-top: 5px;
  font-size: 10px;
}

.title  {
  font-size: 50px;
  margin-top:200px;
  font-family:serif;
  text-align: center;
}

img {
  padding-left: 500px;
  float: right;
  margin-top:-500px;
  margin-left:150px;
  display:block;
}



body{
  line-height:1.8;
}

.txt {
  line-height :3.0;
  font-size:50px;
}

p {
  font-weight:50px;
}

#about
{
background-color:rgb(114, 245, 114);
}

.komura{
margin-top:50px;
margin-right:325px;
margin-bottom:50px;
}

.K {
  font-size:50px;
  text-align: center;
  margin-top:50px;
}

.k  {
  font-size:50px;
  margin-top:100px;
  
}

.miyazaki {
  width:500px;
 height:400px;
 position:relative;
 left:120px;
}

#history {
background: url("../img/OIP.jpg") no-repeat center; 
background-size: cover;
}

#nature {
  background: url("../img/R8bc9dbbd46f4e37c1a0f6f6c2461f0b0.jpg") no-repeat center;
  background-size:cover;
}

.toi {
  font-size:50px;
} 

#toi {
  font-size:50px;
}

.chi {
  margin-top: 50px;

}

.be {
margin-top: 50px;

}

.inner img{
  display:flex;

}

footer {
  background-color:black;
 color:white;
 text-align: center;
 height:100px;
 padding-top:50px;
}

.inner h2 {
  font-size:50px;
}

.inner p {
  font-size: 50px;
}




#food {
  height:1300px;
  background: url(../img/R3f053671d04e926e297dcd86bdc41ef9.jpg)
  no-repeat center;
background-size:cover;
}

.chi {
  margin-left:-400px;
 float: left;
 margin-right:70px;
}
 
  .be {
  margin-left:-350px;
  float:left;
  
  }

.n {
 text-align: center;
}

.a {
  text-align: center;
}

.n h2 {
  font-size:50px;
}

.a h2 {
  font-size:50px;
}

.n p {
  font-size:40px;
 
}

.a p {
  font-size:40px;
   margin-right:50px;
}













